<section class="procedure-section">
  <div class="procedure-title">作り方</div>
  <div>
    <%= f.fields_for :procedures do |ff| %>
      <%= render "recipes/procedure_fields", f: ff %>
    <% end %>
  </div>
  <div id="detail-association-insertion2"></div>
  <%= link_to_add_association "作り方の追加", f, :procedures,
    class: "btn btn-light add-btn", data: {
    association_insertion_node: '#detail-association-insertion2',
    association_insertion_method: 'append' } %>
</section>
