<div class="nested-fields">
  <div class="procedure-fields">
    <div class=""><%= f.text_area :procedure, class: "form-control", :size=>"60x2" %></div>
    <div class="col-2">
      <%= link_to_remove_association "削除", f, class: "btn btn-light" %>
    </div>
  </div>
</div>
