<div class="nested-fields">
  <div class="procedure-fields">
    <div class="col-9 col-lg-8"><%= f.text_area :procedure, class: "form-control procedure_content", :size=>"60x2" %></div>
    <div class="col-3 col-lg-2">
      <%= link_to_remove_association "削除", f, class: "btn btn-light" %>
    </div>
  </div>
</div>
