<% content_for(:title, "#{@user.name}さんの投稿レシピ") %>
<div class="user-main">
  <%= render "users/user_menu", user: @user %>
  <div class="user-right">
    <h1><%= @user.name%>さんの投稿レシピ</h1>
    <%= render "shared/recipes_index", recipes: @recipes %>
  </div>
</div>
<%= render "shared/expand_less" %>
