<div class="nav-login pc-only">
  <%= link_to new_user_registration_path do %>
    <h2 class="btn">新規登録</h2>
  <% end %>
  <%= link_to new_user_session_path do %>
    <h2 class="btn">ログイン</h2>
  <% end %>
</div>  
