.comments {
  display: flex;
}

.comments-form {
  margin: 20px;
  width: 50%;
}

.comments-index {
  margin: 20px;
  width: 50%;
}

.comments-list {
  display: flex;
  max-width: 100%;  
  flex-direction: column;
}

.comments-list p {
  font-size: 18px;
}

.comment-box {
  display: flex;
  justify-content: space-between;
}

.comment-content {
  width: 80%;
}

.comment-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.comment-top p {
  margin-bottom: 0;
}

.comment-date {
  font-size: 14px!important;
  padding-right: 10px;
}

.comment-text {
  font-size: 24px;
}

.comment-button {
  width: 20%;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  .comments {
    flex-direction: column;
  }
  .comments-form, .comments-index {
    margin: 0 15px;
    width: auto;
    padding-bottom: 20px;
  }
}
