/*--------------------------------
 users/show
---------------------------------*/
.user-main {
  min-height: 85vh;
  display: flex;
}

.user-left {
  width: 15%;
  min-width: 180px;
  background-image: image-url('background_image.png');
  background-size: cover;
  padding: 15px 0;
  background-repeat: no-repeat;
}

.user-left a {
  color: #fff!important;
}

.user-left a:hover {
  color: #fff;
  opacity: 0.7;
  border-bottom: 1px solid #fff;
}

.user-left-inner {
  margin: 10px;
  flex-direction: column;
}

.user-image{
  max-width: 186px;
  height: auto;
  margin: 15px auto 5px;
}

.user-image img{
  max-width: 100%;
  height: auto;
}

.user-link {
  text-align: center;
  margin: 30px auto;
  font-size: 120%;
  line-height: 200%;
}

.user-image img {
  border-radius: 50%;
}

.user-image-edit {
  font-size: 90%;
  text-align: right;
}

.user-right {
  width: 85%;
  padding: 15px 20px;
  flex-direction: column;
}

.user-content {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  text-align: center;
  margin-top: 20px;
  background-color: #ffffff;
}

.user-content .border {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 10px 0;
  overflow-wrap: break-word;
  background-color: #ffffff;
}

.user-content-left {
  width: 40%;
}

.user-content-right {
  width: 60%;
  margin-left: 20px;
}

.user-profile .border {
  min-height: 110px;
}

.user-processing {
  text-align: right;
}

.user-recipe {
  display: flex;
}

.user-recipe-border {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  margin: 20px 0;
  width: 50%;
  background-color: #ffffff;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.user-recipe-inner {
  margin: 20px 10px;
}

.user-recipe ul {
  list-style: disc;
  padding-left: 30px;
  font-size: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-recipe span {
  border-bottom: 1px solid #ffffff;
  display: inline-block;
}
.user-recipe span:hover {
  opacity: 0.7;
  border-bottom: 1px solid #333;
  display: inline-block;
}

.user-recipe-inner p {
  text-align: center;
}

.notthing {
  font-size: 90%;
  padding-top: 10px;
}

.more {
  font-size: 13px;
}

.user-recipe-inner .more {
  text-align: right;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 20px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  margin: 20px;
  background-color: #ffffff;
}

/*--------------------------------
 recipes/edit
---------------------------------*/
.edit-profile {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  text-align: left;
  margin: 20px;
  background-color: #ffffff;
}

.edit-profile .border {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 10px 0;
  overflow-wrap: break-word;
  background-color: #ffffff;
}

.profile-table {
  padding: 2%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 15px 25px;
  table-layout: fixed;
  width: 100%;
}

.profile-table th {
  padding: 0 2%;
  width: 40%;
  font-size: 125%

}

.profile-table td {
  width: 60%;
}

.edit-profile table {
  width: 80%;
}

.edit-profile .btn {
  margin-left: 2%;
} 

/*media Queries 991
----------------------------------------------------*/
@media screen and (max-width: 991px) {
/* recipes/show */
.user-main {
  flex-direction: column;
  width: 100%;
}

.user-left {
  width: 100%;
  height: auto;
  padding: 0 10%;
}

.user-left-inner {
  margin: 0;
}

.user-image, .user-image-edit  {
  display: none;
}

.user-link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.user-link {
  margin: 0;
}

.user-right {
width: 100%;
}
}


/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  /* recipes/show */
  .user-right {
    width: 100%;
    padding: 15px 10px;
    flex-direction: column;
  }
  
  .user-content {
    padding: 20px;
    flex-direction: column;
    margin-top: 0px;
  }
  
  .user-link {
    font-size: 100%;
  }
  
  .user-content-left {
    width: 100%;
  }
  
  .user-content-right {
    width: 100%;
    margin-left: 0;
  }

  .user-profile .border {
    min-height: 55px;
  }
  
  .user-recipe {
    flex-direction: column;
  }
  
  .user-recipe-border {
    margin: 20px 0;
    width: 100%;
  }
  
  .user-recipe-inner {
    margin: 20px 10px;
  }

  .recipes-list {
    margin: 10px 0;
    padding: 0;
  }

  /* recipes/edit */
  .edit-profile {
    padding: 0;
    display: flex;
    text-align: left;
    margin: 0 0 20px;
  }
  
  .profile-table {
    margin-top: 0px;
  }
}
